// break points
$sm-min-width: 576px;
$md-min-width: 768px;
$lg-min-width: 992px;
$xl-min-width: 1200px;
$orange-palette-base: #fdab2b;
$orange-palette-lighter:#FFB752;
$orange-palette-lightest: #ffc97c;
$orange-palette-darker: #d97c0f;
$orange-palette-darkest: #ad610d;
$white: white;

