<div class="container">
  <button type="button" class="close" aria-label="Close" (click)="deleteArticleRequest(data)">
    <span aria-hidden="true">&times;</span>
  </button>
  <a routerLink="/article/{{data.id}}" [queryParams]="{'mail':mail}">
    <div class="d-flex flex-wrap">
      <h1>{{data.title}}</h1>
      <div *ngFor="let tag of data.tags">
        <!--<button type="button" class="btn btn-info">{{tag.name}}</button>-->
        <label class="label label-default">{{tag.name}}</label>
      </div>
    </div>
  </a>
  <br>
</div>
